{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages %}

    <li class="list-group-item">

      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <span class="text-muted">
          {{ message.timestamp.strftime('%d %B %Y') }}
        </span>
        <p>{{ message.text }}</p>
      </div>

      <div id="star-area">
        <form method="POST" action="/messages/{{ message.id }}/liked">
          {{ g.csrf_form.hidden_tag() }}
          {% if message not in g.user.messages %}
          <button class="btn btn-primary">
            <input type="hidden" name="location" value="/users/{{ user.id }}">

              {% if message in g.user.liked %}
                <i class="bi bi-star-fill"></i>
              {% else %}
                <i class="bi bi-star"></i>
              {% endif %}
          </button>
          {% endif %}
        </form>
      </div>

    </li>

    {% endfor %}



  </ul>
</div>
{% endblock %}